<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Deteccion de enfermedades pulmonares</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Iniciar Sesión</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Email:</label><br>
                                <input type="email" name="username" id="username" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">#Identificacion:</label><br>
                                <input type="password" name="password" id="password" class="form-control" required>
                            </div>
                            <div class="form-group text-center">
                                <label for="tipo" class="text-info">Tipo de usuario:</label><br>
                                <select name="tipo" required>
                                    <option value="Administrador">Administrador</option> 
                                    <option value="Medico" selected>Medico</option>
                                    <option value="Paciente">Paciente</option>
                                  </select>
                            </div>
                            <div class="form-group text-center">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Ingresar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>