<div class="container text-center">
  <br />
  <hr />
  <h1>Registro de un nuevo paciente</h1>
  <hr />
  <h4>Por favor llene los siguientes campos :</h4>
  <br />
  <form [formGroup]="MiForm" (submit)="onSubmit(MiForm.value)">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="identificacion">Identificacion</label>
        <input type="text" class="form-control" formControlName="Identificacion" id="identificacion">
      </div>
      <div class="form-group col-md-6">
        <label for="nombres">Nombres</label>
        <input type="text" class="form-control" formControlName="Nombres" id="nombres">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="Apellidos">Apellidos</label>
        <input type="text" class="form-control" formControlName="Apellidos" id="Apellidos">
      </div>
      <div class="form-group col-md-6">
        <label for="Edad">Edad</label>
        <input type="number" class="form-control" formControlName="Edad" id="Edad">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="Telefono">Telefono</label>
        <input type="text" class="form-control" formControlName="Telefono" id="Telefono">
      </div>
      <div class="form-group col-md-4">
        <label for="Estrato">Estrato</label>
        <input type="number" class="form-control" formControlName="Estrato" id="Estrato">
      </div>
      <div class="form-group col-md-4">
        <label for="TipoAfiliacion">Tipo Afiliacion</label>
        <input type="text" class="form-control" formControlName="TipoAfiliacion" id="TipoAfiliacion">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="Sexo">Sexo</label>
        <input type="text" class="form-control" formControlName="Sexo" id="Sexo">
      </div>
      <div class="form-group col-md-4">
        <label for="CorreoElectronico">Correo Electronico</label>
        <input type="text" class="form-control" formControlName="CorreoElectronico" id="CorreoElectronico">
      </div>
      <div class="form-group col-md-4">
        <label for="Direccion">Direccion</label>
        <input type="text" class="form-control" formControlName="Direccion" id="Direccion">
      </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">
      <span>
        <svg class="bi bi-box-arrow-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M11.646 11.354a.5.5 0 0 1 0-.708L14.293 8l-2.647-2.646a.5.5 0 0 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z" />
          <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z" />
          <path fill-rule="evenodd" d="M2 13.5A1.5 1.5 0 0 1 .5 12V4A1.5 1.5 0 0 1 2 2.5h7A1.5 1.5 0 0 1 10.5 4v1.5a.5.5 0 0 1-1 0V4a.5.5 0 0 0-.5-.5H2a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-1.5a.5.5 0 0 1 1 0V12A1.5 1.5 0 0 1 9 13.5H2z" />
        </svg>
      </span> Guardar
    </button>
  </form>
</div>
br
<div class="container text-center text-white">
  <a class="btn btn-danger" [routerLink]="['/pacientes']">
    <span>
      <svg class="bi bi-arrow-counterclockwise" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M12.83 6.706a5 5 0 0 0-7.103-3.16.5.5 0 1 1-.454-.892A6 6 0 1 1 2.545 5.5a.5.5 0 1 1 .91.417 5 5 0 1 0 9.375.789z" />
        <path fill-rule="evenodd" d="M7.854.146a.5.5 0 0 0-.708 0l-2.5 2.5a.5.5 0 0 0 0 .708l2.5 2.5a.5.5 0 1 0 .708-.708L5.707 3 7.854.854a.5.5 0 0 0 0-.708z" />
      </svg>
    </span>Retroceder
  </a>
</div>
<div class="container text-center">
  {{respuesta}}
</div>
<br /><br /><br />


